* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F6F0EB;
    font-family: 'Poppins', sans-serif;
}
header {
    background-color: #fff;
    padding: 16px 28px;
}
.header-content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1290px;
}
.logo {
    width: 60px;
    cursor: pointer;
}
.logo > img {
    width: 100%;
}
nav {
    display: flex;
    gap: 48px;
    
}
nav a {
    text-decoration-line: none;
    color: #492118;
    font-weight: 700;
    font-size: 20px;
}

/* ------ hero-section container ------ */
main {
    padding: 0 24px;
}
.hero-section {
    margin-top: 80px;
}
.image-container {
    display: flex;
    justify-content: center;
}
.image-container > img {
    max-width: 1290px;
}
.hero-section > p {
    color: #492118;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}

/* all image container section */
.all-image {
    margin-top: 140px;
}
.all-image > h2 {
    color: #492118;
    font-size: 48px;
    font-weight: 700;
    font-style: bold;
    text-align: center;
    margin-bottom: 28px;
}
.all-image > img {
    width: 1040px;
    display: block;
    margin: auto;

}


/* ----- footer text */
footer {
    margin-top: 64px;
    padding: 0 24px;
}
.go-to-top {
    text-decoration: underline;
    text-align: right;
    max-width: 1040px;
    margin: 0 auto;
}
.go-to-top > a {
    color: #492118;
    font-size: 36px;
    text-decoration-line: none;
}
.footer-text {
    color: #858585;
    text-align: center;
    font-size: 28px;
    margin-top: 56px;
    padding-bottom: 24px;
}


