* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background-color: #f6f0eb;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  
}
header {
  background-color: #fff;
  padding: 16px 10px;
  width: 100%;
  position: fixed;
  top: 0;
}
.header-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1290px;
}
.logo {
  width: 60px;
  cursor: pointer;
}
.logo > img {
  width: 100%;
}
nav {
  display: flex;
  gap: 44px;
}
nav a {
  text-decoration-line: none;
  color: #492118;
  font-weight: 700;
  font-size: 20px;
}
nav a:hover {
  color: #bba04c;
  transition: all 0.3s ease-in-out;
}
section {
  scroll-margin-top: 120px;
}

/* ------ hero-section container ------ */

.hero-section {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 10px;
  margin-top: 200px;
}

.image-container > img {
  width: 100%;
}
.hero-section > p {
  color: #492118;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
}

/* all image container section */
.all-image {
  margin-top: 140px;
}
.all-image > h2 {
  color: #492118;
  font-size: 48px;
  font-weight: 700;
  font-style: bold;
  text-align: center;
  margin-bottom: 28px;
}
.all-image > img {
  width: 100%;
  max-width: 1024px;
  display: block;
  margin: 0 auto;
}

/* ----- footer text */
footer {
  margin-top: 64px;
  padding: 0 48px;
}
.go-to-top {
  text-align: right;
  max-width: 1024px;
  margin: 0 auto;
  
}
.go-to-top > a {
  color: #492118;
  font-size: 24px;
  text-decoration: none;
  background-color: #bba04c;
  padding: 16px 32px;
  cursor: pointer;
  box-shadow: 2px 2px 8px 0px #492118ce;
}
.footer-text {
  color: #858585d0;
  text-align: center;
  font-size: 16px;
  margin-top: 96px;
  padding-bottom: 24px;
}

/* icon close */
.close-icon {
  position: absolute;
  top: 1px;
  right: 32px;
  cursor: pointer;
  display: none;
}

/* hamburger menu */
.hamburger-menu-container {
  width: 70px;
  height: 70px;
  position: relative;
  overflow: hidden;
  display: none;
  margin-top: 15px;
}
.hamburger-menu {
  background-color: #ffffff;
  width: 140px;
  height: 140px;
  top: -80px;
  right: -80px;
  display: flex;
  justify-content: flex-end;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}
.hamburger-icon {
  font-size: 24px;
  font-weight: 600;
  bottom: 20px;
  left: 28px;
  position: absolute;
}

/* responsive width mobile design */

@media (max-width: 1150px) {
  header {
    padding: 16px 10px;
  }
  nav {
    gap: 36px;
  }
  nav a {
    font-size: 18px;
  }

  /* all image container section */
  .hero-section > p {
    font-size: 20px;
  }
  .all-image {
    padding: 0 48px;
  }
  .all-image > h2 {
    font-size: 36px;
  }

  /* footer text */

  .go-to-top > a {
    font-size: 36px;
  }
  .footer-text {
    font-size: 24px;
  }
}

/* responsive for 1024px */

@media (max-width: 1024px) {
  header {
    padding: 16px 10px;
  }

  nav {
    gap: 24px;
  }
  nav a {
    font-size: 16px;
  }
  .all-image > h2 {
    font-size: 24px;
  }

  /* footer text */

  .go-to-top > a {
    font-size: 24px;
  }
  .footer-text {
    font-size: 20px;
  }
}

/* responsive for 840px */
@media (max-width: 840px) {
  header {
    background-color: #f6f0ebea;
    backdrop-filter: blur(8px);
    padding: 16px 10px;
  }
  .header-content-container {
    height: 60px;
  }
  .logo img {
    width: 44px;
  }
  /* mobile nav */
  nav {
    position: absolute;
    flex-direction: column;
    gap: 28px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 270px;
    padding: 48px 32px;
    border-radius: 16px 0 0 16px;
    top: 15px;
    right: -300px;
    font-size: 36px;
    transition: right 0.4s ease-in-out;
  }

  .hero-section {
    margin-top: 150px;
  }
  .hero-section > p {
    font-size: 12px;
  }
  .all-image {
  margin-top: 70px;
}
  .all-image > h2 {
    font-size: 16px;
  }

  /* footer text */
  .go-to-top > a {
    font-size: 16px;
  }
  .footer-text {
    font-size: 12px;
  }

  /* ------- add css for js-------- */
  .close-icon,
  .hamburger-menu-container {
    display: block;
  }
  .menu-open nav {
    right: 0;
  }
  .menu-open .hamburger-menu-container {
    display: none;
  }
}
